* {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}

#render {
    position: absolute;
    border: 1px solid black;
    overflow: hidden;
}

#main {
    position: absolute;
    /* border: 1px solid red; */
    background-image: url(./img/bg1.png);
}

#tabela {
    border: 1px solid black;
    position: absolute;
}

.tabela_item {
    margin-left: -1px;
    margin-top: -1px;
}

#player {
    position: absolute;
    background-color: brown;
    /* background-image: url(./img/gar.png);
    background-repeat: no-repeat;
    background-size: contain; */
}

.item {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}